<% include header.ejs %>

<div class="container">
    <div class="logout-container"> 
        <a id="logout" href="/logout">退出</a>
    </div>
    <p>欢迎 <%=name %> 来到首页!</p>
    <p>这是你第 <%=time %> 次访问。</p>
</div>

<% include footer.ejs %>