<% include header.ejs %>

<div class="container">
    <form action="/register" method="post">
        <p>姓名: <input type="text" name="name" /></p>
        <p>密码: <input type="text" name="password" /></p>    
        <input type="submit" value="注册" />  
    </form>
</div>

<% include footer.ejs %>